/**
* Name:           Yekan Bakh Fonts (Unified)
* Vendor:         http://fontiran.com
**/

/* --- Extra Condensed --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-ThinExtraCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-LightExtraCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-RegularExtraCondensed.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldExtraCondensed.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-BoldExtraCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldExtraCondensed.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-BlackExtraCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: extra-condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackExtraCondensed.woff")
    format("woff");
}

/* --- Condensed --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-ThinCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-LightCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-RegularCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-BoldCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-BlackCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackCondensed.woff") format("woff");
}

/* --- Semi Condensed --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-ThinSemiCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-LightSemiCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-RegularSemiCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldSemiCondensed.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-BoldSemiCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldSemiCondensed.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-BlackSemiCondensed.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: semi-condensed;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackSemiCondensed.woff")
    format("woff");
}

/* --- Normal Width --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-Thin.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-Light.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-Regular.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-Bold.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-Black.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: normal;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlack.woff") format("woff");
}

/* --- Semi Expanded --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-ThinSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-LightSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-RegularSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-BoldSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldSemiExpanded.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-BlackSemiExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: semi-expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackSemiExpanded.woff")
    format("woff");
}

/* --- Expanded --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-ThinExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-LightExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-RegularExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-BoldExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-BlackExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackExpanded.woff") format("woff");
}

/* --- Extra Expanded --- */
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 100;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-ThinExtraExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 300;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-LightExtraExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 400;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-RegularExtraExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 600;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-SemiBoldExtraExpanded.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 700;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-BoldExtraExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 800;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBoldExtraExpanded.woff")
    format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 900;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-BlackExtraExpanded.woff") format("woff");
}
@font-face {
  font-family: "yekan-bakh";
  font-style: normal;
  font-weight: 950;
  font-stretch: extra-expanded;
  src: url("./../fonts/YekanBakhFaNum-ExtraBlackExtraExpanded.woff")
    format("woff");
}

@font-face {
  font-family: "iran-nastaliq";
  src: url(./../fonts/IranNastaliq-Web.woff) format("woff");
}

@font-face {
  font-family: "gramaphone";
  src: url("./../fonts/GramophoneFaNum-Clean.woff");
}