@import "tailwindcss";
@import "./fonts.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --color-primary: #90541d;
  --color-primary-green: #184642;
  --font-IranNastaliq: "iran-nastaliq";
  --font-yekanbakh: "yekan-bakh";
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-ic {
  @apply flex items-center;
}

@utility flex-end {
  @apply flex items-end justify-end;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-col-between {
  @apply flex flex-col justify-between;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility container {
  @apply mx-auto;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

body {
  @apply overflow-x-hidden font-yekanbakh;
}
